@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    min-height: 100vh;
    overflow: hidden;
}
.logo{
    font-size: 4rem;
    position: fixed;
    top: 10%;
    left: 4rem;
    z-index: 11;
}
.wrapper{
    width: 300%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.img-wrap{
    /* max-width: 50%;
    height: auto; */
    position: relative;
    height: 70vh;
    width: auto;
    z-index: 11;
}
section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.character::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2rem;
}
.character img{
    transform: translateY(-100%);
}
/* .line{
    background-color: #FFFF00;
    top: 50%;
    left: 0;
    position: absolute;
    transform: translateY(-50%);
    width: 50rem;
    height: 8rem;
} */
.line{
    background-color: #FFFF00;
    top: 50%;
    left: -15%;
    position: absolute;
    transform: translateY(-50%);
    width: 800px;
    height: 800px;
    border-radius: 100%;
    /* display: none; */
}
.block{
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(-100%);
    z-index: -1;
}
.hybrid::before,.hybrid .block{
    /* background-color: aqua; */
    background-color: #FFFF00;
}
.folding::before, .folding .block{
    background-color: aqua;
}
.inner-caption{
    position: absolute;
    left: 4rem;
    bottom: 2rem;
    width: 40%;
    transform: translate(100%, 100%);
}
.huge-text{
    font-size: 15rem;
    width: 100%;
    text-align: center;
    color: #f52b2b;
    position: absolute;
    top: 20%;
    left: 0;
    transform: translateY(100%);
}
.nickname{
    position: absolute;
    top: 4rem;
    right: 4rem;
    font-size: 2rem;
    text-align: right;
    transform: translateY(-200%);
}
.nickname span{
    display: block;
    color: #fff;
}
.info{
    position: absolute;
    bottom: 3rem;
    right: 4rem;
    font-size: 1.5rem;
    text-align: right;
    width: 35%;
    transform: translateY(200%);
}
.quote {
    position: absolute;
    bottom: 4rem;
    right: 4rem;
    font-size: 3rem;
    width: 30%;
    text-align: right;
    transform: translateY(200%);
}

.quote::before, .quote::after {
    content: '';
    color: #fff;
}